:root {
  /* colors */
  --white: #FFFFFF;
  --black: #383743;
  --gray: #EDEDED;
  --blue: #0000FF;
  --red: #FB8E8E;

  /* fontsizes */
  --fs-basic: 1.5rem;
  --fs-smaller: 1.25rem;
  --fs-big: 1.75rem;
  --fs-bigger: 2rem;
  --fs-biggest: 2.25rem;

  /* flexbox gutter */
  --gutter: 2.25rem;
}


@media all and (max-width: 1520px) {
  :root{
    --fs-basic: 1.25rem;
    --fs-smaller: 1.125rem;
    --fs-big: 1.75rem;
    --fs-bigger: 2rem;
    --fs-biggest: 2.25rem;
  }
}
@media all and (max-width: 1310px) {
  :root{
    --fs-big: 1.5rem;
  }
}
@media all and (max-width: 1200px) {
  :root{
    --fs-basic: 1.25rem;
    --fs-smaller: 1rem;
    --fs-big: 1.375rem;
    --fs-bigger: 1.75rem;
    --fs-biggest: 2rem;
  }
}
@media all and (max-width: 1024px) {
  :root{
    --fs-basic: 1.125rem;
    --fs-smaller: 0.875rem;
    --fs-big: 1.25rem;
    --fs-bigger: 1.625rem;
    --fs-biggest: 1.875rem;
  }
}
@media all and (max-width: 768px) {
  :root{
    --fs-basic: 1rem;
    --fs-smaller: 0.875rem;
    --fs-big: 1.375rem;
    --fs-bigger: 1.5rem;
    --fs-biggest: 1.75rem;
  }
}
@media all and (max-width: 480px) {
  :root{
    --fs-basic: 0.875rem;
    --fs-smaller: 0.75rem;
    --fs-big: 1.125rem;
    --fs-bigger: 1.25rem;
    --fs-biggest: 1.375rem;
  }
}

@font-face {
  font-family: "Objectivity";
  font-style: normal;
  font-weight: 500;
  src: url(~/assets/fonts/Objectivity-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Objectivity";
  font-style: normal;
  font-weight: 700;
  src: url(~/assets/fonts/Objectivity-Bold.woff2) format("woff2");
}

/* GLOBAL STYLES */
html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background-color: var(--gray);
  font-family: "Objectivity", sans-serif;
  font-weight: 500;
  font-size: var(--fs-smaller);
  color: var(--black);
}

a {
  color: var(--black);
}

a:visited {
  color: var(--black);
  text-decoration: none;
}
p a {
  text-decoration: none;
  border-color: var(--blue);
  border-style: solid;
  border-width: 0 0 1px 0;
}
p a:hover{
  border-color: var(--red);
}

.wrap {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-size: var(--fs-biggest);
  margin-top: 0;
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--fs-basic);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

h3 {
  font-size: var(--fs-basic);
  font-weight: 700;
  margin: 1rem 0;
}
h3.offer-headline {
  border-bottom: solid 2px var(--red);
  margin-bottom: 1rem;
  margin-top: 2rem;
}
h3.offer-headline::before{
  /* content: "â— ";
  color: var(--red); */
  /* display: inline-block; */
  /* padding-right: calc(var(--gutter)*0.5); */
}
h4 {
  font-size: var(--fs-smaller);
}
h4.offer-subheadline {
  padding-left: var(--gutter);
}

p {
  margin: 0 0 1rem;
}
p.offer-text{
  padding-left: var(--gutter);
}
ul.offer-list{
  /* padding-left: calc(var(--gutter) - 3px);
  border-left:solid 2px var(--red); */
  margin-top: 0;
  margin-bottom: 1rem;
  /* padding-left: var(--gutter); */
  padding-inline-start: var(--gutter);
  margin-inline-start: -20px;
  margin-block-start: 0;
  margin-block-end: 0;
  /* margin-left: 1em; */
}

ul.offer-list li{
  margin-bottom: 1rem;
  padding-left: 20px;
}
ul.offer-list li::marker{
  color: var(--red);
  font-size: 1.5em;
  display: inline-block;
  padding-right: 20px; 
  line-height: 0.6666em;
}
hr.offer-end{
  margin-bottom: 2rem;
  margin-top: 0;
  margin-left: 0;
  border-color: var(--red);
  border-style: solid;
  border-width: 1.5px;
  width: 50%;
}

.btn{
  background-color: var(--blue);
  color: var(--white);
  display: inline-block;
  font-size: var(--fs-smaller);
  letter-spacing: 0.5px;
  padding: 0.75rem 3rem 0.5rem;
  text-align: center;
  text-decoration: none;
}

a:hover.btn {
  background-color:#FB8E8E;
  color: #383743;
} 

a:visited.btn {
  color: var(--white);
}

.button-container .btn {
  margin: 2rem;
}
hr {
  border-style: dashed;
  border-color: #0000FF;
  border-width: 1px;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.hg-marker-container {
  position: relative;
  z-index: 0;
  width: 100%;
  height: auto;
}

.hg-marker {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hg-marker-container svg path {
  stroke: var(--white);
}

.svg-container {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 50;
}

.svg-container svg {
  height: 100%;
  width: 100%;
}

/* Hero */

.hero {
  background-color: var(--white);
  margin-bottom: 3rem;
}
.hero div {
  padding: 0;
}
.hero > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-item1 {
  order:1;
}
.hero-item2 {
  order:2;
}
.hero h1,
.hero p {
  font-size: var(--fs-big);
  font-weight: 700;
  padding: var(--gutter);
  margin-bottom: 0;
}
.hero-text-center-vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.portrait-container {
  line-height: 0;
}
@media (max-width: 768px) {
  .hero-item1 {
    order: 2;
  }
  .hero-item2 {
    order: 1;
  }
}

/* Flexboxgrid: edit */
.row {
  margin-right: calc(-0.5 * var(--gutter));
  margin-left: calc(-0.5 * var(--gutter));
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  padding-right: calc(0.5 * var(--gutter));
  padding-left: calc(0.5 * var(--gutter));
}
@media only screen and (min-width: 48em) {
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    padding-right: calc(0.5 * var(--gutter));
    padding-left: calc(0.5 * var(--gutter));
  }
}

@media only screen and (min-width: 64em) {
  .container {
    width: 65rem;
  }

  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    padding-right: calc(0.5 * var(--gutter));
    padding-left: calc(0.5 * var(--gutter));
  }
}

@media only screen and (min-width: 75em) {
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    padding-right: calc(0.5 * var(--gutter));
    padding-left: calc(0.5 * var(--gutter));
  }
}
@media all and (max-width: 768px) {
  .container-fluid{
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  h1{
    margin-bottom: 1rem;
  }
  p ~ h2{
    margin: 2rem 0 1rem;
  }
}

/* Helper */
.z-100 {
  position: relative;
  z-index: 100;
}
.responsive-img {
  width: 100%;
  height: auto;
}
.display-none-sm {
  display: none;
}
.display-none-md {
  display: none;
}
.display-md {
  display: none;
}
.display-sm {
  display: none;
}

@media all and (min-width: 769px) {
  .display-md{
    display: block;
  }
}
@media all and (max-width: 768px) {
  .display-none-md{
    display: block;
  }
}
@media all and (min-width: 481px) {
  .display-sm{
    display: block;
  }
}
@media all and (max-width: 480px) {
  .display-none-sm{
    display: block;
  }
  .display-none-md{
    display: none;
  }
}

